[Unit]
Description=Njuus
After=network.target

[Service]
Type=simple
User=web
Group=web
WorkingDirectory=/home/web/njuus
ExecStart=/home/web/njuus/bin/njuus foreground
Restart=on-failure
RestartSec=5
Environment=PORT=8080
Environment=LANG=en_US.UTF-8
SyslogIdentifier=njuus
RemainAfterExit=no

[Install]
WantedBy=multi-user.target