/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import "./phoenix.css";

header {
    max-width: 75rem;
    margin: 0 auto;
}

#main-title {
    text-align: center;
    margin: 6rem;
    font-size: 6rem;
    font-family: 'Arbutus Slab', serif;
}

h2, h2 select {
    font-family: 'Arbutus Slab', serif;
    text-align: center;
}

h2 select {
    font-size: 2.8rem;
    height: auto;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: text-top;
    cursor: pointer;
}

a:visited {
    color: #606c76;
}

.stack-icon {
    width: 1rem;
    position: relative;
    cursor: pointer;
}

.stack-icon *:nth-child(2) {
    position: absolute;
    width: 32px;
    text-align: center;
    left: -7.5px;
    top: 6px;
}

.post .title {
    display: inline-block;
    max-width: 600px;
    vertical-align: top;
}

.icon-transparent {
    opacity: 0.3;
}

.tippy-tooltip {
    font-size: 1.3rem;
    border-radius: 5px;
}

.tippy-tooltip p {
    margin: 0.5rem;
}

button.error {
    background-color: #ff5370;
    border: none;
}

.tippy-tooltip *:last-child {
    margin-bottom: 1px;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
}

.full-width {
    width: calc(100% - 200px);
    margin: 5rem 100px;
    box-sizing: border-box;
}

.menu > * {
    text-align: right;
    margin: 1rem;
    text-transform: capitalize;
}

@media (max-width:600px) {
    .side-by-side {
        display: inline;
    }
}

@media (prefers-color-scheme: dark)
{
    :root {
        background: #121212;
    }

    body, select {
        color: #ffffff !important;
    }

    select {
        background-color: #242424;
    }

    a, a:hover {
        color: #8ab4f8;
    }
	
    select {
        border-color: #909090;
    }

    select:focus {
        border-color: #8080ff !important;
    }

    a:visited, a:hover:visited {
        color: #9075c0;
    }

    a:hover {
        text-decoration: underline;
    }

    img.icon:not(.site_icon) {
        filter: invert(1);
    }
}