<h1>Stats</h1>
<p>Total unique users: <%= length(Enum.uniq_by(@trackings, fn t -> t.sessionid end)) %></p>
<p>Total articles: <%= length(@posts) %></p>

<h1>Lahterdamata teemad</h1>
<%= for {key, catList} <- @categories do %>
    <h2><%= key %></h2>
    <p>
    <%= for {cat, link} <- catList do %>
        <a target="_blank" href="<%= link %>"><%= cat %></a>,
    <% end %>
    </p>
<% end %>

