<%= for post <- @posts do %>
  <p>
    <img class="icon" src="<%= post.icon %>"/>
    <img class="icon" src="<%= @icons[post.category] %>"/>
    <a
      target="_blank"
      href="<%= if post.link, do: post.link, else: Routes.post_path(@conn, :show, post) %>"
      title="<%= post.category %> (<%= post.categories %>) - <%= post.datetime %>">
      <%= post.title %>
    </a>
  </p>
<% end %>

